In [32]:
import pandas as pd

In [33]:
prefix ='https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow'
url = f'{prefix}/yellow_tripdata_2021-04.csv.gz'
url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-04.csv.gz'

In [34]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [35]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-04-01 00:00:18,2021-04-01 00:21:54,1,8.40,1,N,79,116,1,25.5,3.0,0.5,5.85,0.0,0.3,35.15,2.5
1,1,2021-04-01 00:42:37,2021-04-01 00:46:23,1,0.90,1,N,75,236,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-04-01 00:57:56,2021-04-01 01:08:22,1,3.40,1,N,236,168,2,11.5,3.0,0.5,0.00,0.0,0.3,15.30,2.5
3,1,2021-04-01 00:01:58,2021-04-01 00:54:27,1,0.00,1,N,47,61,1,44.2,0.0,0.5,0.00,0.0,0.3,45.00,0.0
4,2,2021-04-01 00:24:55,2021-04-01 00:34:33,1,1.96,1,N,238,152,1,9.0,0.5,0.5,3.09,0.0,0.3,13.39,0.0

In [36]:
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag               string
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [37]:
df.shape

(2171187, 18)

In [38]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-04-01 00:00:18,2021-04-01 00:21:54,1,8.40,1,N,79,116,1,25.50,3.00,0.5,5.85,0.00,0.3,35.15,2.5
1,1,2021-04-01 00:42:37,2021-04-01 00:46:23,1,0.90,1,N,75,236,2,5.00,3.00,0.5,0.00,0.00,0.3,8.80,2.5
2,1,2021-04-01 00:57:56,2021-04-01 01:08:22,1,3.40,1,N,236,168,2,11.50,3.00,0.5,0.00,0.00,0.3,15.30,2.5
3,1,2021-04-01 00:01:58,2021-04-01 00:54:27,1,0.00,1,N,47,61,1,44.20,0.00,0.5,0.00,0.00,0.3,45.00,0.0
4,2,2021-04-01 00:24:55,2021-04-01 00:34:33,1,1.96,1,N,238,152,1,9.00,0.50,0.5,3.09,0.00,0.3,13.39,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171182,<NA>,2021-04-29 17:16:00,2021-04-29 17:29:00,<NA>,3.20,<NA>,<NA>,228,67,<NA>,18.18,2.75,0.5,0.00,0.00,0.3,21.73,0.0
2171183,<NA>,2021-04-29 17:14:00,2021-04-29 18:18:00,<NA>,11.52,<NA>,<NA>,234,235,<NA>,48.35,2.75,0.5,0.00,0.00,0.3,51.90,0.0
2171184,<NA>,2021-04-29 17:39:12,2021-04-29 18:46:03,<NA>,25.74,<NA>,<NA>,223,55,<NA>,52.06,2.75,0.5,0.00,0.00,0.3,55.61,0.0
2171185,<NA>,2021-04-29 17:17:00,2021-04-29 18:01:00,<NA>,9.26,<NA>,<NA>,231,123,<NA>,29.69,2.75,0.5,0.00,6.55,0.3,39.79,0.0
2171186,<NA>,2021-04-29 17:00:13,2021-04-29 17:36:59,<NA>,6.28,<NA>,<NA>,227,148,<NA>,32.32,0.00,0.5,4.00,0.00,0.3,39.62,2.5

In [39]:
!uv add sqlalchemy "psycopg[binary,pool]"

Resolved 120 packages in 0.64ms
Audited 13 packages in 0.21ms

In [40]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [41]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [43]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
len(df)

2171187

In [45]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=150000
)

In [46]:
from tqdm.auto import tqdm

In [47]:
for df_chunk in tqdm(df_iter):
    print (len(df_chunk))
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

150000
150000
150000
150000
150000
150000
150000
150000
150000
150000
150000
150000
150000
150000
71187